
<div class="row">
  	<div class="col-md-8">
		<div class="jumbotron">
		  <h1>The Digest</h1>
		  <p>The world's most trusted source for other peoples' news.</p>
		  <% if current_user %>
		  	<p><%= link_to "Run Scrape", '/scraper', class:'btn btn-primary btn-lg' %></p>
		  <% else %>
		  	<p><%= link_to "Sign Up", new_user_path, class:'btn btn-primary btn-lg' %></p>
		  <% end %>
		</div>
	</div>
	<% if not current_user %>
	<div class="col-md-4">
		<div class="panel panel-default">
  			<div class="panel-heading">Log In</div>
  			<div class="panel-body">
				<%= form_for(:credentials, url: signin_path) do |f| %>
				  	<div class="form-group">
						<%= f.label :email%>
						<%= f.email_field :email, class: 'form-control'%>
					</div>
						<div class="form-group">
						<%= f.label :password%>
						<%= f.password_field :password, class: 'form-control'%>
					</div>
					<%= submit_tag %>
				<% end %>
			</div>
		</div>
	</div>
	<% end %>
</div>

