<p id="notice"><%= notice %></p>

<h1>Articles Matching Your Interests</h1>
    <% if @articles.length == 0 %>
    <br>
    <h5> Hmm, looks like there aren't any matches. Try
    <%= link_to 'Adding More Tags In Your Profile', edit_user_path(current_user) %> </h5>
    <% end %>
    <% @articles.each do |article| %>
         <div class="panel panel-default">
          <div class="panel-body">
            <h2><%= article.source%>:  <%= raw article.title%><h2> 
            <% unless article.tag_list.empty? %>
              <p>Tagged: <%= article.tag_list.join(', ') %></p>
            <% end %>
            <div class="btn-group pull-right" role="group">
              <%= link_to 'Show', article, class: "btn btn-default" %>
            </div>
          </div>
        </div>

    <% end %>
    <%= will_paginate @articles %>
<br>