<p id="notice"><%= notice %></p>

<h1>Your Search Results:</h1>

    <% @articles.each do |article| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <h2><%= article.source%>:  <%= raw article.title%><h2> 
            <% unless article.tag_list.empty? %>
              <p>Tagged: <%= article.tag_list.join(', ') %></p>
            <% end %>
            <div class="btn-group pull-right" role="group">
              <%= link_to 'Show', article, class: "btn btn-default" %>
            </div>
          </div>
        </div>
    <% end %>
<br>